{% extends "base.html" %}

{% block content %}

  <div>
    <h2 class="text-center">Home Page</h2>
  </div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Points</th>
    </tr>
  </thead>
      <tbody>
    {% for person in people %}
    <tr>
      <th scope="row">{{ person.id }}</th>
      <td>{{ person.name }}</td>
      <td>{{ person.points }}     <a href="/update/{{ person.id }}" class="btn btn-outline-secondary btn-sm">Update</a>
      <a href="/delete/{{ person.id }}" class="btn btn-outline-danger btn-sm">Delete</a></td>
    </tr>
        {% endfor %}

  </tbody>
</table>
          <form action="/search" METHOD="POST">
      <p class="text-center">
      <input type="number" placeholder="ID" name="searched">
      <input type="submit" value="Search" class="btn btn-outline-info">
      </p>
    </form>
{% endblock %}