{% extends "base.html" %}

{% block content %}

  <div>
    <h1>Home Page</h1>
  </div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Points</th>
    </tr>
  </thead>
      <tbody>
    {% for person in people %}
    <tr>
      <th scope="row">{{ person.id }}</th>
      <td>{{ person.name }}</td>
      <td>{{ person.points }}<a href="/update/{{ person.id }}" class="btn btn-outline-secondary btn-sm">Update</a></td>
    </tr>
        {% endfor %}

  </tbody>
</table>


{% endblock %}